<h1 class="container table-responsive d-flex justify-content-center text-uppercase p-3">Marvel Character Details:</h1>

<div class="container table-responsive d-flex justify-content-center text-uppercase p-3" *ngIf="character != null">
    <ul>
        <span><img src="{{character.imageurl}}" width="300" height="300"></span>
        <table>
            <tr>
                <td><h2>{{character.name}}</h2></td>
            </tr>
            <tr><td [width]="300">{{character.description}}</td></tr>
        </table>

        <br>

        <table>
            <tr>
                <td><a [routerLink]="[ '/' ]"><button type="button" class="btn btn-outline-secondary">Back to search</button></a></td>
            </tr>
        </table>

        <br>
        <hr [width]="300" align="left">
        <br>

        <div>

            <h3>comments:</h3>

            <table class="container mb-3 mt-3">
                <tr>
                    <td><a [routerLink]="[ '/character', character.id, 'comment' ]"><button type="button" class="btn btn-outline-info">Insert comment</button></a></td>
                </tr>
            </table>
    
            <div class="container mb-3 mt-3" *ngFor="let i of insertedComments">
                <table>
                    <tr>
                        <b>Comment ID:</b>
                    </tr>
                    <tr>
                        <td [width]="200">{{i.commentId}}</td>
                    </tr>
                    <tr>
                        <b>Comment:</b>
                    </tr>
                    <tr>
                        <td [width]="200">{{i.comment}}</td>
                    </tr>
                    <tr>
                        <b>Comment Timestamp:</b>
                    </tr>
                    <tr>
                        <td>{{i.postedDate}}</td>
                    </tr>
                </table>
                <div>
                    <!-- <a [routerLink]="[ '/character', character.id, 'editcomment' ]"><button type="button">Edit Comment</button></a> -->
                    <button type="button" class="btn btn-outline-warning" (click)="doEditComment(i.commentId)">Edit Comment</button>
                    &nbsp;
                    <button type="button" class="btn btn-outline-danger" (click)="doDeleteComment(i.commentId)">Delete Comment</button>
                </div>
            </div>            
        </div>
    </ul>
</div>